<nav class="navbar navbar-default">
  <div class="container-fluid">
    {{#link-to 'index' class="navbar-brand"}}INCLINE{{/link-to}}
    {{#if session.isAuthenticated}}
    <p class="navbar-text">
      Welcome, {{session.currentUser.displayName}}
    </p>
      <button type="button" class="btn btn-default navbar-btn" {{action "signOut"}}>Sign Out</button>
    {{else}}
        <button type="button" class="btn btn-default navbar-btn" {{action "signIn" "google"}}>Sign In with Google</button>
    {{/if}}
  </div>
</nav>
{{outlet}}
